# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Caches
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv
env/
venv/
ENV/

# IDE files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Node
node_modules/
dist/
